@use 'variables';
@use 'mixins';

@use 'components/start-screen';
@use 'components/game-screen';
@use 'components/game-grid';
@use 'components/assist-buttons';
@use 'components/notifications';
@use 'components/settings-screen';
@use 'components/results-screen';
@use 'components/progress-bar';

@import 'modern-normalize';

body {
  font-family: variables.$font-family;
  background-color: variables.$background-light;
  color: variables.$text-light;
  margin: 0;
  padding: 0;
  transition:
    background-color 0.3s,
    color 0.3s;
  min-height: 100vh;
}

body.dark-theme {
  background-color: variables.$background-dark;
  color: variables.$text-dark;
}

.container {
  max-width: variables.$container-max-width;
  margin: 0 auto;
  padding: 0 20px;

  @include mixins.for-phone-only {
    padding: 0 10px;
  }
}

.hidden {
  display: none !important;
}
